.header {
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 60px auto;
}

.header span {
display: block;
}
.section {
	background-color: #ccc;
	padding: 30px 0;
}

.container, .col-lg-6 {
	border: 2px solid red;
}
.form {
	border: 5px solid aqua;
	padding: 30px 20px;
}
.form-header, .section-header {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 900;
}
.form-btn {
	background-color: aqua;
	margin: 10px auto;
}
.form input {
	margin-bottom: 12px;
}
.feature {
	margin: 60px auto;
}
.feature p {
	margin-top: 20px;
}
.video {
	margin-bottom: 30px;
}
.feature-box {
	height: 160px;
}